## Do men earn more than women?


It is often reported that women earn more than man. The Ontario government (in Canada) reports the salary of all public-sector employees making more than a given amount. This data is freely available.

In [1]:
# Import all I need (boring)
import sys
!{sys.executable} -m pip install -U --user kiwisolver pandas sklearn matplotlib numpy
!{sys.executable} -m pip freeze
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cross_validation import train_test_split
#from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

Requirement already up-to-date: kiwisolver in /anaconda/lib/python3.5/site-packages (1.0.1)
Requirement already up-to-date: pandas in /Users/lemire/.local/lib/python3.5/site-packages (0.23.1)
Requirement already up-to-date: sklearn in /Users/lemire/.local/lib/python3.5/site-packages (0.0)
Requirement already up-to-date: matplotlib in /Users/lemire/.local/lib/python3.5/site-packages (2.2.2)
Requirement already up-to-date: numpy in /anaconda/lib/python3.5/site-packages (1.14.5)
Requirement not upgraded as not directly required: setuptools in /anaconda/lib/python3.5/site-packages/setuptools-23.0.0-py3.5.egg (from kiwisolver) (23.0.0)
Requirement not upgraded as not directly required: pytz>=2011k in /anaconda/lib/python3.5/site-packages (from pandas) (2016.4)
Requirement not upgraded as not directly required: python-dateutil>=2.5.0 in /anaconda/lib/python3.5/site-packages (from pandas) (2.5.3)
Requirement not upgraded as not directly required: scikit-learn in /Users/lemire/.local/lib/python3.5/site-packages (from sklearn) (0.19.1)
Requirement not upgraded as not directly required: six>=1.10 in /anaconda/lib/python3.5/site-packages (from matplotlib) (1.10.0)
Requirement not upgraded as not directly required: cycler>=0.10 in /anaconda/lib/python3.5/site-packages (from matplotlib) (0.10.0)
Requirement not upgraded as not directly required: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /anaconda/lib/python3.5/site-packages (from matplotlib) (2.1.4)
absl-py==0.2.2
alabaster==0.7.8
anaconda-client==1.4.0
anaconda-navigator==1.2.1
appnope==0.1.0
appscript==1.0.1
argcomplete==1.0.0
astor==0.6.2
astropy==1.2.1
attrs==18.1.0
Babel==2.3.3
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
bitarray==0.8.1
blaze==0.10.1
bleach==1.5.0
bokeh==0.12.0
boto==2.40.0
Bottleneck==1.1.0
cffi==1.6.0
chest==0.2.3
click==6.6
cloudpickle==0.2.1
clyent==1.2.2
colorama==0.3.7
conda==4.1.6
conda-build==1.21.3
conda-env==2.5.0a0
configobj==5.0.6
contextlib2==0.5.3
coverage==4.5.1
cryptography==1.4
cycler==0.10.0
Cython==0.24
cytoolz==0.8.0
dask==0.10.0
datashape==0.5.2
decorator==4.0.10
dill==0.2.5
docutils==0.12
dynd==0.7.3.dev1
enum34==1.1.6
et-xmlfile==1.0.1
fastcache==1.0.2
Flask==0.11.1
Flask-Cors==2.1.2
galileo==0.5.1
gast==0.2.0
gevent==1.1.1
greenlet==0.4.10
grpcio==1.13.0
h5py==2.6.0
HeapDict==1.0.0
html5lib==0.9999999
hypothesis==3.57.0
idna==2.1
imagesize==0.7.1
ipykernel==4.3.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jdcal==1.2
jedi==0.9.0
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==4.1.1
jupyter-core==4.1.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.0.1
llvmlite==0.11.0
locket==0.2.0
lxml==3.6.0
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.2.2
mistune==0.7.2
mpmath==0.19
multipledispatch==0.4.8
nb-anacondacloud==1.1.0
nb-conda==1.1.0
nb-conda-kernels==1.0.3
nbconvert==4.2.0
nbformat==4.0.1
nbpresent==3.0.2
networkx==1.11
nltk==3.2.1
nose==1.3.7
notebook==4.2.1
numba==0.26.0
numexpr==2.6.0
numpy==1.14.5
odo==0.5.0
openpyxl==2.3.2
pandas==0.23.1
partd==0.3.4
path.py==0.0.0
pathlib2==2.1.0
patsy==0.4.1
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.2
Pillow==5.1.0
playsound==1.2.2
ply==3.8
protobuf==3.6.0
psutil==4.3.0
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.2.3
Pygments==2.1.3
pyOpenSSL==16.0.0
pyparsing==2.1.4
pyroaring==0.1.6
pytest==2.9.2
python-dateutil==2.5.3
pytz==2016.4
pyusb==1.0.0
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.2.1
QtPy==1.0.2
redis==2.10.5
requests==2.10.0
rope-py3k==0.9.4.post1
ruamel-yaml===-VERSION
scikit-image==0.12.3
scikit-learn==0.19.1
scipy==0.17.1
simpleaudio==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.3
Sphinx==1.4.1
sphinx-rtd-theme==0.1.9
spyder==2.3.9
SQLAlchemy==1.0.13
statsmodels==0.6.1
sympy==1.0
tables==3.2.2
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
terminado==0.6
toolz==0.8.0
torch==0.4.0
torchvision==0.2.1
tornado==4.3
traitlets==4.2.1
unicodecsv==0.14.1
Unidecode==1.0.22
Werkzeug==0.11.10
xlrd==1.0.0
XlsxWriter==0.9.2
xlwings==0.7.2
xlwt==1.1.2
z3==0.2.0
z3-solver==4.5.1.0.post2

/Users/lemire/.local/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
dataset = pd.read_csv("fr-2017-pssd-compendium-20180320-utf8.csv")
dataset.head(5)

,Secteur,Nom de famille,Prénom,Traitement versé,Avantages imposables,Employeur,Poste,Année civile
0,Autres employeurs du secteur public,Coleridge,Peter,"$250,000.00","$25,749.50",Big Brothers Big Sisters of Canada,National President and Chief Executive Officer,2017
1,Autres employeurs du secteur public,Chater,W. Matthew,"$100,877.00","$2,778.27",Big Brothers Big Sisters of Canada,"National Vice-President, Service and Organizat...",2017
2,Autres employeurs du secteur public,Mcintyre,Mary Ellen,"$113,847.58","$19,015.00",Centre For Spanish Speaking Peoples,Legal Director,2017
3,Autres employeurs du secteur public,Marlin,Susan,"$248,068.75",$258.48,Clinical Trials Ontario,President and Chief Executive Officer,2017
4,Autres employeurs du secteur public,Frampton,Peter,"$165,033.85","$10,788.30",Learning Enrichment Foundation,Executive Director,2017

In [3]:
dataset.shape

(131741, 8)

In [4]:
dataset["salaire"]=dataset['Traitement versé'].replace( '[\$,]','', regex=True ).astype(float) + dataset['Avantages imposables'].replace( '[\$,]','', regex=True ).astype(float)
pd.options.display.float_format = '${:,.2f}'.format

In [5]:
salaireparposte=dataset.groupby("Poste").agg({'salaire':[np.size,np.mean]}).reset_index()
salaireparposte=salaireparposte[salaireparposte[("salaire","size")]>200].sort_values(("salaire","mean"),ascending=False)
salaireparposte.columns = [col[0]+col[1] for col in salaireparposte.columns]
salaireparposte.columns
salaireparposte[["Poste","salairemean"]]
salaireparposte[["Poste","salairemean"]].set_index('Poste').head(10)

                                                    salairemean
Poste
Judge / Juge                                        $264,654.55
Counsel / Avocat                                    $184,329.48
Assistant Crown Attorney / Procureur adjoint de...  $178,412.04
Physician                                           $178,323.64
Counsel / Avocate                                   $176,659.80
Professeur(e) titulaire / Full Professor            $175,633.09
First Line Manager, Control/Mechanical              $175,170.29
Chief Administrative Officer                        $173,418.84
Chief Executive Officer                             $172,881.69
Assistant Crown Attorney / Procureure adjointe ...  $170,015.89

In [6]:
profsalaire = dataset[dataset['Poste'].str.contains("Prof") & ~(dataset['Poste'].str.contains("Dean"))]
profsalaire.sort_values("salaire",ascending=False)[["Nom de famille","Employeur","salaire"]].head(10)

        Nom de famille                         Employeur     salaire
126061         Ganjavi  Laurentian University of Sudbury $686,965.86
129478            Hull             University of Toronto $465,324.29
122755           Yusuf               Mcmaster University $462,846.17
128612  Christoffersen             University of Toronto $457,575.56
130294        Mitchell             University of Toronto $451,223.87
131556           Whyte             University of Toronto $449,973.45
131210         Strange             University of Toronto $442,910.28
128033        Aivazian             University of Toronto $441,261.26
130167         Mccurdy             University of Toronto $436,216.96
128022         Agrawal             University of Toronto $428,082.50

Ok. So we have the dataset, but there is no gender identification. Thankfully, there are available statistical models that allow us to categorize first names.

In [7]:
genderstat =  pd.read_csv("us-likelihood-of-gender-by-name-in-2014.csv")
genderstat[["sex","name"]].head()

  sex     name
0   F   Elaine
1   F    Cathy
2   F    Heidi
3   F    Vicki
4   F  Melinda

 But first, let us check that things work as they should:

In [8]:
from unidecode import unidecode 
def gender_first_name(name):
    try: 
      return genderstat[genderstat['name'].map(lambda x : unidecode(x))==unidecode(name)][["sex"]].values[0][0]
    except:
      return "UNKNOWN"
for n in ["Nathalie", "Julie", "Pierre", "Yves", "Daniel", "Lohan"]:
    print(n, gender_first_name(n))

Nathalie F
Julie F
Pierre M
Yves M
Daniel M
Lohan UNKNOWN

Ok. So now we have two tables. What are we going to do to put the data back together? One solution is to use a "join".

We have a 'name' column in one dataset, and now we will create another name column on the other data set, after making sure to trim out accents so that "Éric" becomes "Eric".

In [9]:
from unidecode import unidecode 
dataset['name'] = dataset['Prénom'].apply(lambda n : unidecode(n) )
dataset[['name','Prénom']].head(10)

         name      Prénom
0       Peter       Peter
1  W. Matthew  W. Matthew
2  Mary Ellen  Mary Ellen
3       Susan       Susan
4       Peter       Peter
5     Therese     Therese
6      Daniel      Daniel
7     Deborah     Deborah
8     Shirley     Shirley
9         Sue         Sue

In [10]:
datasetwithgender=pd.merge(dataset,genderstat,on="name")

In [11]:
datasetwithgender.groupby("sex").size()

sex
F    43315
M    58417
dtype: int64

In [12]:
datasetwithgender[["sex","name","salaire"]].head(5)

  sex   name     salaire
0   M  Peter $275,749.50
1   M  Peter $175,822.15
2   M  Peter $146,616.00
3   M  Peter $123,581.91
4   M  Peter $205,269.03

In [13]:
datasetwithgender.groupby("sex").agg({'salaire':np.mean})

        salaire
sex
F   $123,879.68
M   $130,332.61

In [14]:
datasetwithgender.groupby("sex").agg({'salaire':np.max})

          salaire
sex
F     $745,268.93
M   $1,561,320.95

In [15]:
waterlooprofessor = datasetwithgender[(datasetwithgender["Employeur"]=="University of Waterloo")
                                      &(datasetwithgender["Poste"].str.contains("Professor"))]

In [16]:
waterlooprofessor.groupby("sex").agg({'salaire':np.mean})

        salaire
sex
F   $148,147.25
M   $162,915.72

In [17]:
waterlooprofessor.groupby("sex").agg({'salaire':np.max})

        salaire
sex
F   $239,653.34
M   $317,514.10

In [18]:
ottawaprofessor = datasetwithgender[(datasetwithgender["Employeur"]=="University of Ottawa")
                                      &(datasetwithgender["Poste"].str.contains("Professeur"))]
ottawaprofessor[['name','sex',"salaire"]].head(5)

      name sex     salaire
796  Peter   M $185,750.40
797  Peter   M $153,990.13
798  Peter   M $153,903.36
800  Peter   M $179,153.60
801  Peter   M $185,766.00

In [19]:
ottawaprofessor.groupby("sex").agg({'salaire':np.mean})

        salaire
sex
F   $147,084.86
M   $156,445.92

In [20]:
ottawaprofessor.groupby("sex").agg({'salaire':np.max})

        salaire
sex
F   $237,641.00
M   $260,765.92